
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 243, 243);
    font-size: 15px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/assets/background_menu_op.jpg");
    min-height: 90%;
    height:100vh;
    

}

.header{
    display: flex;
    align-items: center;
}

.navbar_index{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size:x-large;
    text-decoration: none;
}

.hero_menu{
    margin-top: 60px;
    display: grid;
    justify-items: center;
    background-color:rgb(205, 93, 13,0.5);
    border-radius: 10%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 100px;
  }

div>img{
    height: 350px;
    border-radius: 10px ;
    
}

