body{
    background-image: url("/assets/img_reservation.jpg");
}

h1{
    align-items: center;
}
.form_reservas{
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 60px;
    padding: 20px;
    
    
}
