@import url(style_about.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    background-color: rgb(212, 75, 75);
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    

}
.hero{
    text-align: center;

}
img{

    width: 100%;
    margin: 0px;
    height: 100vh;
    
    
}

