@import url(style_about.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    background-color: rgb(170, 41, 9);
    font-family: 'Playfair Display', serif;
    color: rgb(212, 226, 226)248);
    

}
.hero{
    text-align: center;

}
img{

    width: 100%;
    
}

