
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');



.header{
    display: flex;
    align-items: center;
}

.navbar_index{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size:x-large;
    text-decoration: none;
}

.hero_menu{
    margin-top: 60px;
    display: grid;
    justify-items: center;
    background-color:rgb(205, 93, 13,0.5);
    border-radius: 10%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    row-gap: 100px;
  }

  h2{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
  }

div>img{
    height: 350px;
    border-radius: 10px ;
    margin: 20px;
}

p{
    margin: 20px;
    margin-left: 40px;
    text-transform:capitalize;
    font-weight: 400;
    font-size: 20px;
    
}
