@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.about_us_article{
    width: 800px;

}
.about_us_article_paragraph{
    font-size: 15px;
    text-transform:  none;

}
.about_us_paragraph_span{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(205, 93, 13);


}
.about_us_paragraph_span{
    transition: 1s ease;
}
.about_us_paragraph_span:hover{
    border-radius:50%;
    transition: 1s ease;


}

.flex_about_us{
    display: flex;
    justify-content: center;
}
.youtube_video_div{
    margin-left: 250px;
}
.youtube_video{
    border-radius: 8px;
    
}
