@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.about_us_article{
    width: 800px;
    height: 350px;
    overflow: auto;

}
.about_us_article_paragraph{
    font-size: 15px;
    text-transform:  none;
    
    margin:auto;
    padding: 20px;

}
.about_us_paragraph_span{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);


}

.flex_about_us{
    display: flex;
    margin: 20px;
    background-color:rgb(205, 93, 13,0.5);
    padding: 10px;
}
.youtube_video_div{
    height: 300px;
}
.youtube_video{
    border-radius: 8px;
    
}
