@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 243, 243);
    font-size: 15px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/assets/background_about.jpg");
    min-height: 90%;
    height:100vh;
    

}
.about_us_article{
    width: 800px;

}
.about_us_article_paragraph{
    font-size: 15px;
    text-transform:  none;

}
.about_us_paragraph_span{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(205, 93, 13);


}
.about_us_paragraph_span:hover{


}

.flex_about_us{
    display: flex;
    justify-content: center;
}