@import url(style_about.css);
@import url(style_menu.css);
@import url(style_reservas.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 243, 243);
    font-size: 15px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/assets/img_indexv_op.jpg");
    min-height: 90%;
    height:100vh;
    margin: 0;
    
}

.header{
    display: flex;
    align-items: center;
    

}
.hero{
    text-align: center;
    

}

.navbar_index{
    border-radius: 8px;
    font-weight: 500;
    padding: 20px 100px;
    text-decoration: none;
    background-color: rgb(205, 93, 13,0.5);
    transition: all 1.5s ease;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size:x-large;
    text-decoration: none;
    }



.logo_img{
    border-radius: 45px;

}
.navbar_index_option{
    transition: .5s ease;
}
.navbar_index_option:hover{
        color: #000000;
        transform: scale(0.9);
        box-shadow: 0 0 0 5px #000000;
        transition: .5s ease
      }

a{
    text-decoration: none;
    color: aliceblue;
    margin: 30px;

}


.footer_index{
    background-color:rgb(205, 93, 13,0.5);
    min-height: 100px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-top: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    padding-bottom: 20px;
}



.social_links_list{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-top: 10px;


}
.social_links_list img{
    border-radius: 50%
    

}
.footer_adress{
    margin-top: 10px;
    margin-right: 10px;
    

}




