h1{
    align-items: center;
}
.hero_reservas{
    margin: 50px;
    padding: 20px;
    display: flex;

}
.form_reservas{
    background-color: rgb(205, 93, 13);
    width: auto;
    margin: 60px;
    padding: 20px;
    
    
}

